.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  button {
    padding: 0.5rem;
    border: 2px solid #414141;
    outline: none;
    background: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      background: #414141;
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  .Nav {
    font-size: 1rem;
    button {
      font-size: 1rem;
      z-index: 1;
    }
  }
}
